[2020-08-04 13:16] rufuspollock opened #1 "[epic] React Resource editor (+ multiple resources at once, table schema, CKAN integration)"
New React-based app/component for creating and editing one or more resources add adding to a Dataset. This replaces CKAN classic resource create and edit but ONLY for ckan inistances using `ckanext-external-storage` (which we hope will soon be most or all of our CKAN instances).

NB: we can assume dataset already exists. In later evolution we will extend to include dataset creation etc.

Design fe

[2020-08-04 14:11] rufuspollock opened #2 "Stub the React application"
Stub the react app for the data publishing app focused on adding a resource.

## Acceptance

- [x] Create a repository on github
- [x] Create a simple react application
- [x] A basic README

## Tasks

* [x] create a repository on github : https://github.com/datopian/datapub
* [x] create a simple react application
* [x] Add basic README
* [x] Add a basic component to upload a file to some storage a

[2020-08-04 14:17] rufuspollock opened #3 "Basic tests working for the app with CI"
Set up tests with Jest in the React application to test the upload flow. We use [Jest](https://jestjs.io/en/) because it is now default for React and has nice documentation, support, and tutorials.

2 kinds of tests:

* Component tests via jest
* Integration tests (via cypress) - make not be needed for simple components ...

## Acceptance

* [x] We have one or more tests of basic system
* [x] We h

[2020-08-04 14:19] rufuspollock opened #4 "Research and setup storybook for this app"
Storybook is a tool that prepares a development environment for UI components. It allows you to develop and design your graphical interfaces quickly, isolated, and independently. Making it possible to define different states for components, thus documenting their states.

## Acceptance

* [x] Short summary for future of what storybook is, why to use it, and how we integrate it
* [x] Have a story f

[2020-08-04 14:24] rufuspollock opened #5 "Demo app auto-pushed live to datopian.github.io/datpub/"

[2020-08-04 22:29] mariorodeghiero commented on #4
Added summary in the issue description.

[2020-08-05 11:42] rufuspollock opened #6 "Refactor current file upload code into React setup for resource creation"
Integrate the [ckan3-js-sdk](https://github.com/datopian/ckan3-js-sdk) with this code and refactor so that we can upload a single file to the storage.

## Acceptance

* [x] I can upload a file to (azure) storage using the react app by dragging and dropping a file or selecting it
* [x] success/completion (or failure) is reported in some basic manner
* [ ] (?) There is a test for this (? using mocks

[2020-08-05 12:04] rufuspollock opened #7 "Trial uppy as library for upload SDK (including adjustment for Azure)"
We want to research if we can use uppy for our file upload. https://uppy.io/ is a fully featured client library for managing uploads with many adapters. Features include:

* support for many cloud storage sources out of the box
* import direct from google drive, dropbox etc
* resumable file uploads
* i18n
* recovery from crashes
* etc

## Acceptance

Answers to questions like:

* Is uppy good?
* H

[2020-08-06 00:08] mariorodeghiero commented on #4
- [x] create a summary about storybook in description of the issue
- [x] create a story for the uploader component and App template
- [x] add instructions in README how to use storybook

@rufuspollock I create the summary and I added this in the issue description. Do you want to put this on README too?

[2020-08-06 00:41] mariorodeghiero commented on #3
FIXED. See the items below with screenshots.
@rufuspollock cypres will be for the future, right?

- [x] We have one or more tests of basic system
- [x] We have continuous integration with github actions i.e. tests are run on every push etc
- [x] add badge for github actions on README

![Screenshot from 2020-08-05 21-16-55](https://user-images.githubusercontent.com/24671133/89477443-a8167680-d763-1

[2020-08-06 00:47] mariorodeghiero commented on #2
Fixed.

- [x] Create a repository on github
- [x] Create a simple react application
- [x] A basic README

[2020-08-06 00:47] #2 closed

[2020-08-06 13:47] rufuspollock opened #8 "Integration tests for file uploading (with cypress)"
We have an integration test with actual file uploading ...

## Acceptance

* [ ] Integration test  for file uploading (using cypress)
* [ ] We have CI with github actions

## Tasks

TODO

[2020-08-06 13:47] rufuspollock commented on #3
Yes, I've moved integration tests to #8

[2020-08-06 13:47] #3 closed

[2020-08-06 13:49] rufuspollock commented on #4
@mariorodeghiero yes a small entry in developer section of readme explaining what this is and how we use it.

[2020-08-06 23:21] mariorodeghiero commented on #4
@rufuspollock right, tomorrow I will update readme and after I'll close the issue.

[2020-08-08 01:47] mariorodeghiero commented on #6
- [x] check and provide the configuration necessary to authenticate in ckan-authz

@rufuspollock I add a fetch to authenticate and get JWT token form authz into the core react code using a proxy in package.json because using the SDK I got a CORS error. Maybe we need to check with @shevron if he has any idea.

**Next steps:**
  - Get the token and use the SDK to upload.

**Result ok:**

![Screensho

[2020-08-11 02:20] mariorodeghiero commented on #6
@rufuspollock  Now all flow is working, I refactored the code and I add one more test to test the select file using jest+enzime.
Tomorrow I will add the fail/success message.

[2020-08-11 10:56] lgilies opened #9 "File upload progress reporting"
When the user uploads a file to the storage the upload progress expects to be tracked showing a progress bar to the user with percentage done, time remaining and kb/s sec.

## Acceptance

* [x] I can track the progress when uploading the file to the blog storage
* [x] Show a circular progress bar to the user with time remaining and percentage done and kb/s sec.

![](https://i.imgur.com/l5Ffr0t.png

[2020-08-11 10:57] lgilies opened #10 "Discovery: Pause and resume on file uploading"
### Acceptance Criteria
TBD

### Tasks
TBD

[2020-08-11 10:58] lgilies opened #11 "Edit metadata whilst data is uploading"
When the upload is in progress the metadata fields (Title, description, encode, format) the metadata information should be editable at the same moment of the upload.

## Acceptance

* [ ]   Metadata fields (title, description, encode, and format) editable when the file is uploading.

## Tasks

* [ ] UI - Enable metadata fields(title, description, encode, and format) when the file is uploading.
* [

[2020-08-11 10:59] lgilies opened #12 "Editable Metadata for file (whilst uploading) and default values are inferred from supplied file (e.g. title ...)"
When the user selects a file and starts uploading they are presented with key metadata fields (e.g.title, description, encode, and format) that they can edit. These metadata fields should be auto-populated where possible. The user can then explicitly save (once the file has finished uploading).

~~**Bonus** would be extracting the table schema info: I want to extract the table schema info from the

[2020-08-11 14:15] mariorodeghiero commented on #6
FIXED. See the items below.

- [x] I can upload a file to (azure) storage using the react app by dragging and dropping a file or selecting it
- [x] success/completion (or failure) is reported in some basic manner

[2020-08-11 14:15] #6 closed

[2020-08-11 17:28] mariorodeghiero commented on #4
FIXED. Add a summary of the storybook in README.

- [x] create a summary about storybook

[2020-08-11 17:28] #4 closed

[2020-08-13 00:33] mariorodeghiero commented on #9
@rufuspollock I did some changes in this [commit](https://github.com/datopian/datapub/commit/e17c098c0c182c72c9cbbb63ed5f36ce53fd02ba) the result you can see in the picture below.

[2020-08-13 12:44] rufuspollock commented on #9
@mariorodeghiero this is great!

[2020-08-14 00:49] mariorodeghiero commented on #9
@rufuspollock Check the gif below, please. I did some changes here, do you think is necessary to show kb/s?

**Note:** I throttling my internet to "3G" to upload the file.
![upload](https://user-images.githubusercontent.com/24671133/90200539-8db94a00-ddae-11ea-8378-a016e828bb61.gif)

[2020-08-14 08:26] rufuspollock commented on #9
@mariorodeghiero no, time remaining is great - don't think we need kb/s atm.

BTW luurve ❤️  the gif - so great for understanding the feature 👏

I think you can close.

[2020-08-14 11:02] mariorodeghiero commented on #9
Thanks, and yes! I agree with you.

FIXED.

- [x]  UI - Create a circular progress bar
- [x]  JS - Track the progress and populate the progress bar
- [x]  JS/UI - Show percentage done, time remaining and kb/s sec

[2020-08-14 11:02] #9 closed

[2020-08-18 10:04] rufuspollock opened #13 "[epic] Resource Schema (data dictionary) editor w/ infer"
A Data Dictionary (or Table Schema) provides information about the data in a resource such as the names, types and description of the fields.

https://tech.datopian.com/publish/#adding-a-schema-data-dictionary-for-a-resource

## UX

For more, see https://tech.datopian.com/publish/#adding-a-schema-data-dictionary-for-a-resource

### Horizontal (spreadsheet like)

![](https://docs.google.com/drawing

[2020-08-19 00:25] mariorodeghiero commented on #12
@rufuspollock please take a look at this gif below.

1. I am adding a file and auto-populate with the file information
2. I edited the fields and I clicked in "save"(just an event to show a console.log with the metadata object)
3. I started to upload the file
4. I edited the fields with new information and I clicked in "save"

Object example:
[code]

**My question is:** each key of this object abo

[2020-08-19 08:37] rufuspollock commented on #12
@mariorodeghiero  great job 👏

No, you don't. If you want information about fields that should go in the profile / json schema which describes the form. For now I would be using an enhanced profile based of data resource json schema but with additional enums for e.g. format field. (if that does not make sense let's chat).

Other comments

* [ ] I think we want probably disable saving metadata unti

[2020-08-19 20:06] mariorodeghiero commented on #12
@rufuspollock ok, I will get a list of format and licenses and render it in select option.

yes, I agree with you, we need to think about UX. I will try to add something like you said.

[2020-08-20 15:18] mariorodeghiero commented on #12
@rufuspollock take a look.

![ux](https://user-images.githubusercontent.com/24671133/90791029-1c622580-e2df-11ea-8c0d-5904d9b0b839.gif)

[2020-08-20 16:41] rufuspollock commented on #12
@mariorodeghiero looks good 👏 . I think we could auto start upload once file is selected (so no need for upload button) but that is very minor.

Can we get this deployed at a staging site (maybe using storybook) so i can play around - this is #5

[2020-08-20 17:32] mariorodeghiero commented on #12
@rufuspollock right, I'm adding the licenses and I'll remove to use auto-upload and start to create the new stories.

[2020-08-21 00:14] rufuspollock commented on #12
there's no need for licenses (?) - these are resources we are editing.
_________________________________________________________________________
*Datopian *| https://datopian.com | Open solutions for a data driven world
*DataHub*  | https://datahub.io   | GitHub for data
*CKAN    * | http://ckan.org <https://ckan.org/>      | The world's leading
data portal solution

President - +44 7795176976 - @

[2020-08-23 13:55] rufuspollock opened #14 "[epic] React Resource Editor (+ table schema editor + CKAN integration)"
#
New React-based app for creating and editing resources. This replaces CKAN classic resource create and edit but ONLY for ckan inistances using `ckanext-external-storage` (which we hope will soon be most or all of our CKAN instances).

Design features:

* Use React
* (Resource) Schema will now stored as attribute `schema` on a resource (as per Frictionless pattern) rather than in Data Dictionary

[2020-08-24 11:33] anuveyatsu commented on #12
@rufuspollock we're looking at "Bonus" part of this issue's Acceptance Criteria and it looks like it is related to #13

Could you confirm?

cc @mariorodeghiero

[2020-08-24 12:01] rufuspollock commented on #12
@anuveyatsu confirmed and i've removed it.

[2020-08-24 13:15] mariorodeghiero commented on #5
FIXED. see in [1033a6e](https://github.com/datopian/datapub/commit/1033a6e699b9e21bd54e593862ea3726d1e2e544)

[2020-08-24 14:24] rufuspollock commented on #11
DUPLICATE of #12 (now).

[2020-08-24 14:24] #11 closed

[2020-08-25 00:03] mariorodeghiero commented on #13
@anuveyatsu @rufuspollock I read and check the JSON schema editors available but I preferred to create my own and control the schema object via the **state** in react. The example is very simple yet but it works properly.

I think is important to decide one thing:
 -  Does the **state** of the schema and **onchange function** and "onSave function" should be in the father of the component or in the

[2020-08-25 04:15] anuveyatsu commented on #13
Hi @mariorodeghiero this is cool 👏

Are you referring to this spec here https://specs.frictionlessdata.io/table-schema/#descriptor ?

[2020-08-25 06:22] anuveyatsu commented on #14
Added "Integrate React app into CKAN Classic UI" section in the analysis of this issue. cc @rufuspollock @mariorodeghiero

[2020-08-25 09:33] rufuspollock commented on #13
@mariorodeghiero great job. Note:

* [ ] the types should come from the defined list that Table Schema has.
* [ ] We also need to add title and that's it ...

I agree we don't need json schema editors here - just build our own given how simple this.

[2020-08-25 10:37] mariorodeghiero commented on #12
Fixed.

[2020-08-25 10:37] #12 closed

[2020-08-25 11:01] rufuspollock commented on #12
@mariorodeghiero there was one item in the acceptance not ticked re labels. Can you comment on that in the acceptance section. Also in general can you update the acceptance section with brief comments on each item see https://playbook.datopian.com/issues-tasks/#completing-tasks for notes about that. (so not just ticking the checkbox but a short comment too in **bold**)

[2020-08-25 14:22] mariorodeghiero commented on #12
The item below was not ticked. You can check **why** in this [conversation](https://github.com/datopian/datapub/issues/12#issuecomment-675952464)
- [ ] each field may have a short label/description

* [x] UI - Create metadata fields for (title, description, encode, and format)  **Done -- check [here](https://datopian.github.io/datapub/?path=/story/components-metadata--idle)**
* [x] JS - Get the ID

[2020-08-25 14:26] mariorodeghiero commented on #13
Hi @anuveyatsu I think we are up to date after our meeting today.

@rufuspollock yes, I will working to get this done and I will let you know.

[2020-08-25 15:24] rufuspollock commented on #12
@mariorodeghiero i think we misunderstood each other in that discussion. I meant you don't need a label in what you *save* but you want a label / description in the form which come from the json schema (if we had that).

[2020-08-25 16:07] rufuspollock commented on #14
DUPLICATE. It was confusing to have this and #1 and i've therefore back merged this into #1.

[2020-08-25 16:07] #14 closed

[2020-08-25 20:28] mariorodeghiero commented on #13
@rufuspollock @anuveyatsu I push some changes for:

- [x] the types should come from the defined list that Table Schema has.
- [x] We also need to add title and that's it ...

Could please confirm if the types should be this below?

[code]

**Note**: The button save only send a console.log with the current state of the table schema.

![Screenshot from 2020-08-25 17-24-05](https://user-images.githu

[2020-08-26 05:44] anuveyatsu commented on #13
@mariorodeghiero type options are listed below from the frictionlessdata spec:

* string
* number
* integer
* boolean
* object
* array
* date
* time
* datetime
* year
* yearmonth
* duration
* geopoint
* geojson
* any

[2020-08-26 11:30] mariorodeghiero commented on #13
@anuveyatsu thanks. I will update the list of types and send a new PR.

[2020-08-27 15:20] rufuspollock opened #15 "Ability to copy table schema from existing resource in the same dataset"
When creating a new resource in a Dataset I want to be able to copy a table schema from an existing resource (if there is an existing resource) so that I don't have to re-enter the whole table schema again

## Flow

In terms of flow i imagine something like:

* Click: New resource
* Select file to upload
  * File starts uploading, various editors including schema editor appear
* There is a control

[2020-08-27 15:20] rufuspollock opened #16 "Integrated resource editor app in React"
React App combining several lower level components into an app / flow: Upload, Edit metadata, Edit table schema, Save

Need to mock this up a bit.

* Upload
* Metadata editor
* Schema editor

Could be stepped or all in one page (maybe hide show for some of it so it would work with multiple resources).

## Acceptance criteria

* [ ] I can use this app (with some config) to add new resources into a

[2020-08-27 23:25] mariorodeghiero commented on #16
@rufuspollock @anuveyatsu I sent a PR with some updates in this [commit 9e0d670](https://github.com/datopian/datapub/commit/9e0d670c110e141c5fb65506d17c688a9e0de6ea) you can see the result online in
https://datopian.github.io/datapub/?path=/story/templates--app-template

Tomorrow I pretend to improve more the save metadata and save schema process + stepper.

[2020-08-28 07:43] anuveyatsu commented on #16
@mariorodeghiero how about enabling multiple file uploads?

[2020-08-28 07:49] rufuspollock commented on #16
That should be separate issue. Note that foe multiple resources we prob
don't want stepped ux but have collapsible components for eg schema editor

On Fri, 28 Aug 2020, 09:43 Anuar Ustayev, <notifications@github.com> wrote:

[2020-08-28 11:33] mariorodeghiero commented on #16
@anuveyatsu @rufuspollock Can be controlled for each file independently?
I thought in some like: when the user selects the file uploaded/uploading. The "Editor stepper" will show only the info about the file selected and the user can edit it.

[2020-08-28 11:41] anuveyatsu commented on #16
@mariorodeghiero I think you mean the same thing as Rufus :smile: anyway let's leave the multiple files for later

[2020-08-28 11:43] mariorodeghiero commented on #16
sounds good, let's keep with the plan

[2020-08-31 11:45] mariorodeghiero commented on #16
@anuveyatsu @rufuspollock could please take a look https://datopian.github.io/datapub/?path=/story/templates--app-template if need something more for this issue?

I think the next step we need to fix. If hasn't a schema for the current file, we need to create a default schema?

[2020-08-31 12:47] anuveyatsu commented on #16
@mariorodeghiero I'm not sure if there is a schema when user just uploads a file. I believe the steps are:

1. Select a file for upload
2. The app detects title and format (if possible)
3. It infers schema from the given file (assuming it's tabular)
4. Now, user can change metadata and/or schema

cc @rufuspollock

[2020-08-31 14:51] mariorodeghiero commented on #16
added some documentation improvements, now you can click in "Docs" (in the top left) and see the documentation of the components and all status of the stories.

![Screenshot from 2020-08-31 11-48-34](https://user-images.githubusercontent.com/24671133/91733617-2bb75d80-eb80-11ea-91cd-68691f2414a7.png)

[2020-08-31 19:06] mariorodeghiero commented on #1
@rufuspollock update:

- [x] What is the pattern for storing and sharing state amongst components in DataPub apps and workflows?
     - The pattern will be **Apollo**

cc: @anuveyatsu

[2020-09-01 14:08] rufuspollock opened #17 "Infer Table Schema from CSV (when uploading) and use in schema editor"
If a file is selected we want to infer a frictionless style object that we can use for the metadata. Suggest using data.js and fixing this issue https://github.com/datopian/data.js/issues/49

## Acceptance

* [x] When a CSV file is selected and it is tabular file the resource object in the state is updated with correct meta and inferred schema
  * [x] Plus sample data e.g. first, say 20-30 rows is

[2020-09-01 18:56] mariorodeghiero opened #18 "[resource] Upload or Link Chooser"
When the user uploads an open upload app, the user wants to choose it is a file or link.

## Acceptance

* [x] The user can choose what type of upload

~~* [ ] The metadata will infer the user to choose a link (?)~~

## Tasks

* [x] UI - Create a new input to be able to choose to upload a link
* [x] JS/UI - Show both the drag and drop area and the input link
* [x] JS/UI - After the user chooses an

[2020-09-01 23:07] mariorodeghiero commented on #18
@kmanaseryan I did some improvements adding:
- more tests
- refactor
- split the upload area in two different components
- created the stories in the storybook for Inputs components(file and Url)

[2020-09-02 07:57] anuveyatsu opened #19 "Componentize and declare the usage"
At the moment, we have default setup created by CRA tool. This auto initializes the app without any arguments being passed:

[code]

What do we want is to be able to choose components that is needed for a project and construct the UI:

For example, in a specific project app, you may use only `FileUploader` and `MetadataEditor`:

[code]

or you can just load entire app with all default components:

[2020-09-02 09:18] anuveyatsu commented on #19
cc @rufuspollock

[2020-09-02 09:47] rufuspollock commented on #19
@anuveyatsu looks great.

[2020-09-02 11:58] rufuspollock commented on #18
@mariorodeghiero I suggest we use figma to illustrate flow here if poss at the start so we get clear.

* Once you've chosen you only show the option for that item e.g. just show the upload stuff if we are doing upload or just link item if chose that one (btw i assume this should run off state in a sensible way)
* I don't get what " The metadata will infer the user to choose a link (?)" means in th

[2020-09-02 12:03] mariorodeghiero commented on #18
@rufuspollock is a question.
Should be infer something in metadataEditor or keep it empty(by default) when the user chooses link to upload.

[2020-09-02 12:10] kmanaseryan commented on #18
Guys maybe this sounds odd question, but is it possible for the users to do both? I mean upload file and also add link to file

[2020-09-02 12:12] mariorodeghiero commented on #18
I'm creating a Figma to illustrate it as Rufus' idea. I will share it here...

[2020-09-02 12:14] rufuspollock commented on #18
No.

[2020-09-02 12:14] kmanaseryan commented on #18
Sounds good. I meant if technically it is possible then maybe it's better to show both fields, but make required to pick at least one.

[2020-09-02 13:08] rufuspollock commented on #16
FIXED. We have this wired up pretty nicely now.

[2020-09-02 13:08] #16 closed

[2020-09-02 14:43] mariorodeghiero commented on #18
@rufuspollock To extract the information(title and format) from the URL. Do we will use some specific library or can I do this using Regex?

[2020-09-02 15:02] rufuspollock commented on #18
@mariorodeghiero you should use data.js - that's the plan ...

[2020-09-02 15:02] rufuspollock commented on #18
@mariorodeghiero remember this issue is just about the chooser - not about implementing the link option ... (that should be a separate issue and is likely dependent on data.js ...)

[2020-09-02 15:15] mariorodeghiero commented on #18
great!

[2020-09-02 22:48] mariorodeghiero commented on #18
@rufuspollock @kmanaseryan I created a simple choose component. Now the user can choose what type of upload. If the type is an URL when the user left the focus or click enter, will send an event with the value.
In the gif below I show how it works sending a console.log with the input URL value.

![url](https://user-images.githubusercontent.com/24671133/92044711-3aa33900-ed55-11ea-8713-3df8bc3c1be4

[2020-09-03 07:31] rufuspollock commented on #18
Great. When you type something in the url component and it loses focus we
should bring up metadata editor and schema editor with info filled in if we
can (but this should be a separate issue for creating a LinkFile component
...)
_________________________________________________________________________
*Datopian *| https://datopian.com | Open solutions for a data driven world
*DataHub*  | https://

[2020-09-03 12:45] rufuspollock opened #21 "[resource] Component for Linking a Resource"
Have a component for "Link a file" in Resource add

## Acceptance

* [ ] a form field providing a link
* [ ] When you type something in the url component and it loses focus we should bring up metadata editor and schema editor with info filled in if we can
* [ ] We should attempt to retrieve that link in the browser (using data.js)
  * [ ] show 404 if link does not work
  * [ ] Handle CORs errors g

[2020-09-04 08:33] #19 closed

[2020-09-04 14:55] rufuspollock commented on #18
@mariorodeghiero can we now close this?

[2020-09-04 14:58] rufuspollock opened #22 "[resource] Add multiple resources at once"
See #1 for background.

![](https://camo.githubusercontent.com/6bf25ce8caab1f6fc834e61fc81fc815a94158d7/68747470733a2f2f692e696d6775722e636f6d2f415a3744354a512e706e67)

## Acceptance

TODO

## Tasks

[2020-09-04 14:59] rufuspollock commented on #22
@mariorodeghiero could you fill out the issue with acceptance and tasks a bit.

[2020-09-06 05:20] rufuspollock commented on #1
@lgilies can you work with @mariorodeghiero to create issues for v0.5 work here and make sure they are also in client backlog.

[2020-09-07 11:20] lgilies opened #23 "Multiple files add"
## Acceptance

## Tasks

[2020-09-07 11:20] lgilies opened #24 "UI adjustments for multiple files"
When the user drags and drops multiple files, the user wants to see all the files with each status independently and when the user clicks on card status, in metadata editor expects to show the file information.

## Acceptance

- [x] User can drag & drop multiple files
- [x] User can see the upload info for all files uploading independently
- [x] User can edit the metadata information for each file

[2020-09-07 11:50] lgilies commented on #1
@rufuspollock I created issues #23 and #24 (linked them to the description as well) and @mariorodeghiero will add the detailed content to them. We will find a way to move them to the client's backlog.

[2020-09-07 12:02] mariorodeghiero commented on #1
Added content for Issue https://github.com/datopian/datapub/issues/24

[2020-09-07 12:24] mariorodeghiero commented on #1
@rufuspollock @lgilies I also added some content for https://github.com/datopian/datapub/issues/23 but I have some questions. Could please take a look?

[2020-09-08 12:12] mariorodeghiero commented on #22
@rufuspollock @lgilies this issue is duplicate?
check this one https://github.com/datopian/datapub/issues/23

[2020-09-08 15:50] mariorodeghiero commented on #18
FIXED. Now the user can choose what type of upload. If the type is an URL when the user left the focus or click enter, will send an event with the value.

 - [x] UI - Create a new input to be able to choose to upload a link
 - [x] JS/UI - Show both the drag and drop area and the input link

[2020-09-08 15:50] #18 closed

[2020-09-09 12:45] anuveyatsu commented on #17
I'm planning to work in this next as https://github.com/datopian/data.js/pull/68 is to be merged soon. I can start working using `feature/open-from-uploaded-file` branch.

cc @rufuspollock

[2020-09-11 14:33] mariorodeghiero commented on #17
Some updates for this issue on this PR https://github.com/datopian/datapub/pull/26

[2020-09-14 11:00] anuveyatsu commented on #17
When using Excel files, we have some issues:

- we can't get sample data but only full data so your browser can slow down as we automatically load all rows into memory
- the same issue when inferring schema

[2020-09-14 17:14] rufuspollock commented on #13
@anuveyatsu @mariorodeghiero is this now complete?

[2020-09-15 13:12] mariorodeghiero opened #27 "Refactor due to recent updates in ckan-client-js"
Refactor due to recent updates in ckan-client-js so we can create/update resources + push to blob.

Acceptance

- [x] Refactor react code to use the recent updates in the SDK

Tasks

- [x] Refactor react code to use create resource
- [x] Refactor code to update resource
- [x] Refactor code to push to blob

[2020-09-15 16:00] mariorodeghiero commented on #13
@rufuspollock All things working only pending tests.
cc: @anuveyatsu

[2020-09-15 16:14] rufuspollock commented on #13
@mariorodeghiero do we have *any* tests for this? What would test look like? I thought we had tests for the React component ...

[2020-09-15 17:45] rufuspollock opened #29 "[resource] Save (updated) resource metadata to DMS backend i.e. CKAN"
Save resource metadata (including sha-256 field which indicates this is stored via giftless) into  backend (CKAN).

## Acceptance

* [x] On hitting save in resource manager resource metadata is saved to CKAN backend
* [ ] And datasets is published (change from draft state)
* [ ] And you are redirected to dataset page

## Tasks

Preliminaries in external libs

  * [x] Convert from f11s to ckan: por

[2020-09-15 18:14] mariorodeghiero commented on #13
@rufuspollock We only created a simple test at the beginning of the datapub development.

[2020-09-15 20:35] mariorodeghiero commented on #27
Blocked https://github.com/datopian/data.js/issues/86

cc: @rufuspollock @anuveyatsu

[2020-09-16 12:40] rufuspollock commented on #22
DUPLICATE of #23.

[2020-09-16 12:40] #22 closed

[2020-09-17 08:03] kmanaseryan opened #30 "Default config values are not being used"
If I don't provide any config values the default values are not being used.

### Expected result
Use the following config values:
[code]

### Actual result
[code]

[2020-09-17 08:42] anuveyatsu commented on #30
Looks like you're setting one of the config vars but missing others.

@mariorodeghiero

[2020-09-17 09:49] anuveyatsu opened #31 "Report: bugs after trial of DataPub in the existing project"
## Tasks

* [x] Icon for upload doesn't load @mariorodeghiero
* [x] Progress bar - doesn't work if file already exists - stays at 0% but says upload succeeded @mariorodeghiero
* [x] 'Save' button is disabled so I cannot edit the metadata and save @mariorodeghiero
* [x] After resource is created following properties are missing:
  * [x] URL for resource
  * [x] Name
  * [x] Size
  * [x] Mimetype

[2020-09-17 09:54] anuveyatsu commented on #31
@kmanaseryan @mariorodeghiero here is the list of issues that we've identified.

@rufuspollock most of these are pretty clear. I'd like to have some comment about the last one as it is about custom resource field (`restricted`). Here are the options I can see:

* Option 1: Explore how we can customize resource metadata fields. E.g., ability to pass `resource` dictionary that will tell us what fiel

[2020-09-17 11:26] mariorodeghiero commented on #30
Probaly the default props didn't work because of the last changes and the code below:

[code]
<div id="ResourceEditor" data-api="http://localhost:5000"  data-lfs="http://localhost:9419" data-auth-token="XXXX-XXXX-XXXX-XXXX" data-dataset-id="data-test-2" data-organization-id="myorg"></div>
[code]

[2020-09-17 12:42] rufuspollock opened #32 "[resource] Infer Table Schema for resources with linked data"
Follow up (broken out of) #17

## Acceptance

When a linked file is chosen we infer core meta from url and try to load data (if CORs issue then just give up (maybe flag an error)

[2020-09-17 12:42] rufuspollock commented on #17
FIXED. All working.

[2020-09-17 12:42] #17 closed

[2020-09-17 12:43] rufuspollock commented on #27
FIXED. This is all done.

[2020-09-17 12:43] #27 closed

[2020-09-17 12:47] rufuspollock commented on #13
FIXED. We can do more tests and that will be a separate issue.

[2020-09-17 12:47] #13 closed

[2020-09-17 12:49] rufuspollock commented on #21
We have started but not properly wired up. https://datopian.github.io/datapub/?path=/story/templates--app-template

[2020-09-17 12:57] rufuspollock opened #33 "Pattern for creating custom publish flows on top of DataPub"
We already have an example where we need to customize the publish flow:

We need custom publish flows per client. e.g. this feature is specific to a given ckan deployment. Rather than modify ckanext-blob-storage we basically need to be able to install a custom React app.

`ckanext-blob-storage` should have NO dependency on datapub.js. What we want is to pass a React app into CKAN or rather `ckanex

[2020-09-17 15:12] kmanaseryan commented on #30
@mariorodeghiero yea not a big deal, it was easy to find a workaround, just saw and wanted to open an issue for later improvements

[2020-09-18 11:46] mariorodeghiero commented on #31
**Update about September 17:**
These three items are done and merged.
- [x] Icon for upload doesn't load @mariorodeghiero
- [x] Progress bar - doesn't work if file already exists - stays at 0% but says upload succeeded @mariorodeghiero
- [x] 'Save' button is disabled so I cannot edit the metadata and save @mariorodeghiero

[2020-09-21 10:29] rufuspollock opened #37 "[resource] Resource edit page integration"
Have DataPub work for resource edit as well as resource create

This issue will probably require changes both here and in ckanext-blob-storage to pass in the details of the existing resource (either just the resource id (and dataset id?) and then DataPub code looks up the resource object from the API or by passing in complete JSON object).

## Acceptance

Resource edit page works correctly

* [x]

[2020-09-21 10:30] rufuspollock opened #38 "[resource] Integrating DataPub into existing CKAN v2 resource create and edit flow"
We need to insert DataPub resource editor into the pre-existing flow of CKAN resource editing (using https://github.com/datopian/ckanext-blob-storage to override CKAN templates).

## Acceptance

* [x] Discovery of existing system and recommended intervention
* [x] Resource create flow done
* [x] Resource edit flow done
* [x] Documentation of any changes from current behaviour

## Tasks

* [x] Anal

[2020-09-21 12:01] rufuspollock opened #39 "[resource] Remove 2 step process and show schema editor"
## Current setup

2 stages and you have to click between.

![image](https://user-images.githubusercontent.com/180658/93762983-e16e4d00-fc10-11ea-9c1b-c6cfca98d293.png)

Issue is that UX is bad as people don't see schema editor.

## Wanted

Show both metadata editor and schema editor at same time one below the other. Something like this without the 1 and 2:

![image](https://user-images.githubuserc

[2020-09-21 13:52] rufuspollock commented on #29
Added a bunch of items today:

* [x] Resource Create page: Stop calling package_update and call resource_create and only do that on when user hits save
  * [x] Have an internal method `createResource(f11sResourceMeta, datasetIdOrName)`
* [x] Rename "Save Metadata" to "Save and Publish". After saving then redirect to: `/dataset/{dataset.name}`
  * [x] Rename button
  * [x] (Continue doing resource

[2020-09-21 13:53] rufuspollock commented on #29
FIXED. All done now we hope.

[2020-09-21 13:53] #29 closed

[2020-09-21 14:00] mariorodeghiero commented on #39
sorry, the commits above should be for the issue #29 .

[2020-09-21 20:10] mariorodeghiero commented on #39
@rufuspollock I already have the solution for this issue in my machine, but I will push the PR after the changes to fix redirect are done because will have some conflicts.

[2020-09-22 04:54] rufuspollock opened #42 "Use Typescript"
In portal.js we agreed to move to typescript and I think we probably want this here.

[2020-09-22 07:36] kmanaseryan commented on #7
### Progress
- [x] Read the blob upload [flow](https://tech.datopian.com/blob-storage/#flows)
- [x] Understood that this is also related to [Git LFS](https://github.com/datopian/giftless), this is where the upload signing and upload verification happen.
- [x] So in brief the flow is **[get token from ckan] -> [get signed upload url] -> [upload blob] -> [verify upload]**
- [x] Uppy consists of plug

[2020-09-22 12:32] rufuspollock commented on #7
Great summary 👌  and update 👏

On Tue, 22 Sep 2020, 09:36 Karlen Manaseryan, <notifications@github.com>
wrote:

[2020-09-23 13:55] shevron commented on #31
@mbeilin and I just did a debugging session, we see that the following critical properties when calling `resource_create` are still missing. Without these properties `ckanext-blob-storage` will not be able to fetch resources at all:
* `sha256` (currently called "hash")
* `size`
* `lfs_prefix` (this is currently needed, as it designates where in the LFS server the resource has been stored even if t

[2020-09-23 14:00] shevron commented on #31
In the case of an uplaoded file, `url` should contain the file name (no path). This allows `ckanext-blob-storage` / `giftless` to trigger a download with the original file name retained, and also follows vanilla CKAN behavior.

[2020-09-23 23:21] mariorodeghiero commented on #31
@shevron @mbeilin this PR https://github.com/datopian/datapub/pull/46 should fix it.
cc: @rufuspollock

[2020-09-24 12:47] mariorodeghiero commented on #31
This is the result from resource_show after #46

[code]

[2020-09-25 14:01] mariorodeghiero commented on #37
- [x] re-inferring and change metadata is **OK**

@rufuspollock

For re-inferring and change **schema** we have a problem. Because the result of the `resource_show` for `schema` and `sample` is a string with unicode like the code below and I need this information as a JSON to be able to render in tableschema component.

[code]

I tried to manage to create a regex and parse to a JSON object into a

[2020-09-28 15:13] mariorodeghiero commented on #31
FIXED. @mbeilin  already tested `"restricted": "{\"level\": \"public\"}"` and it works.

[2020-09-28 15:13] #31 closed

[2020-09-29 11:12] mbeilin commented on #37
@anuveyatsu @shevron guys, any thoughts about this?
As far as I understand from @mariorodeghiero, that should be resolved in `ckan-blob-storage`, so he can move
forward in datapub. We are kind of blocked with this in NHS atm, missing the ability to update schema in resource...
cc: @Daniellappv

[2020-09-29 12:24] anuveyatsu commented on #37
There are 2 options:

1) Quick and hacky: create `custom_resource_show` API action as mentioned in the previous comment (est 2h)
2) Change schema using https://github.com/ckan/ckanext-scheming (est 5-6h)

[2020-09-29 12:25] mariorodeghiero commented on #37
I created an issue in ckan-blob-storage https://github.com/datopian/ckanext-blob-storage/issues/29

[2020-10-01 23:12] mariorodeghiero commented on #37
FIXED. It was fixed in this PR https://github.com/datopian/datapub/pull/52

[2020-10-01 23:12] #37 closed

[2020-10-05 13:49] mariorodeghiero opened #55 "Table schema column empty"
When the user adds a resource with empty headers broken to render the table schema component.

**Acceptance**

- [x] render the table schema component when the resource with empty headers

**Tasks**

- [x] set `column_${index}` when the `header` and `accessor` is empty
- [x] render without broken the application

error:

![Screenshot from 2020-10-05 12-32-27](https://user-images.githubusercontent.

[2020-10-05 13:51] mariorodeghiero commented on #55
I hope to solve it in this PR https://github.com/datopian/datapub/pull/54

cc: @mbeilin

[2020-10-05 14:03] mariorodeghiero opened #56 "Table schema scroll + css"
The table schema component renders without scroll(x) and scroll(y).

## Acceptance

- [x] add scroll(x) and scroll(y)

## Tasks

- [x] add max-width and max-height
- [x] add scroll(x) and scroll(y)
- [x] removed margin-top from app
- [x] centralize the tableschema
- [x] remove background-color from app

[2020-10-05 14:04] mariorodeghiero commented on #56
I hope to solve it in this PR #54

cc: @mbeilin

[2020-10-05 15:37] mbeilin commented on #56
Still have a problem with this:
![Screenshot from 2020-10-05 18-31-18](https://user-images.githubusercontent.com/61929774/95100325-a81dfd00-0739-11eb-8178-040a1782e37f.png)

[2020-10-05 17:23] mariorodeghiero commented on #56
This happens because the table **element** css property is set`width: 100%` in your hole project stead to create a specific class for each element. You can see in the picture below. For ckan-blob-storage and Datapub it works properly.
I created a class for the element in Datapub, try to prevent this situation.

![Screenshot from 2020-10-05 14-22-20](https://user-images.githubusercontent.com/246711

[2020-10-06 11:43] mariorodeghiero commented on #56
Fixed. @mbeilin confirmed it was fixed.

[2020-10-06 11:43] #56 closed

[2020-10-06 11:46] mariorodeghiero commented on #55
Fixed. You can check in the PR #54

[2020-10-06 11:46] #55 closed

[2020-10-06 13:04] mariorodeghiero commented on #39
FIXED. You can check in this PR https://github.com/datopian/datapub/pull/45

[2020-10-06 13:04] #39 closed

[2020-10-07 11:51] mariorodeghiero commented on #23
@rufuspollock I already can Upload multiple files, edit metadata, and edit schema, but there is a behavior we didn't talk about. When the user clicks in "Save and Publish" and we have a list of resources.

**Behavior today:** Send the resource and redirect the user to the dataset page

Options that think:

1. Send each resource independently and remove from the UI list, so the user can edit/save t

[2020-10-07 14:35] Daniellappv opened #59 "Table Schema UI: labels for the rows are not in line with the actual rows"
The labels for the rows are not in line with the actual rows, e.g. type and format are on the same row, see

![image](https://user-images.githubusercontent.com/45828069/95345078-0aeed000-08c3-11eb-98ea-d27ac27fa156.png)

(Bootstrap 3.3.7)

## Acceptance

* [ ] Labels for rows (title, description, type, format) are in line with the actual rows

## Task-list

TBA

[2020-10-07 18:13] kmanaseryan commented on #15
@rufuspollock can you write acceptance criteria and also give some context?

[2020-10-08 20:18] mariorodeghiero commented on #59
FIXED. Tested in `ckan-blob-storage` in the print below.

![Screenshot from 2020-10-08 14-25-19](https://user-images.githubusercontent.com/24671133/95508966-312b7300-098a-11eb-8420-5ee41ce3bc42.png)

[2020-10-09 14:17] mariorodeghiero commented on #23
FIXED. In the future, we need to check how it works for the edit resource page.

[2020-10-09 14:44] rufuspollock opened #62 "DataPub as component library and trialling first external DataPub based apps"
Data Publishing workflows are by their nature highly custom - though with many common components. For example, one site the resource editor may have one set of fields,  and in another they have a different set of fields (as per the discussion in
 http://tech.datopian.com/publish/)

Our approach to this is for DataPub to provide a rich set of common **components** for building those flows and a ric

[2020-10-11 05:23] rufuspollock opened #63 "New CKAN extension `ckanext-datapub` for integrating DataPub based apps into CKAN v2 workflow"
There are two areas of integration:

* Dataset creator (and editor)
* Resource editor

DataPub based app could replace one or both of these. (Note DataPub based app may have other steps that CKAN does not currently have but we are jus focusing on current CKAN v2 end).

We need a CKAN extension that can replace one or both of Dataset editing and Resource editing by handing off to a React app. The R

[2020-10-12 07:16] mbeilin commented on #59
@mariorodeghiero still not looking good enough in NHS:
![Screenshot from 2020-10-11 10-48-19](https://user-images.githubusercontent.com/61929774/95716268-da68b680-0c73-11eb-98d1-0504584fa9d2.png)

[2020-10-12 15:33] mbeilin commented on #59
FIXED in NHS also.
![Screenshot from 2020-10-12 18-31-45](https://user-images.githubusercontent.com/61929774/95764636-66510180-0cb9-11eb-8367-b26cf41ab6bd.png)

[2020-10-12 15:33] #59 closed

[2020-10-13 11:11] rufuspollock commented on #63
@anuveyatsu has made progress on this here: https://github.com/datopian/ckanext-datapub

@anuveyatsu is this ready to be trialled?

[2020-10-13 12:10] kmanaseryan opened #64 "Update the code to make it reusable"
## Acceptance

- [x] This can be installed in my React app using git repo in the `package.json`
- [x] I can `import { Upload } from 'datapub';` in my app and this will not throw error.
- [x] README is updated so that accordingly

## Tasks

- [x] Update library so that we can use this in any React based project.
   - [X] Metadata
  - [x] Choose
  - [x] InputFile
  - [x] InputUrl
  - [x] ProgressBar

[2020-10-13 12:13] kmanaseryan commented on #62
@rufuspollock created this issue #64, which covers some of the points above.

[2020-10-14 13:00] rufuspollock commented on #38
@mariorodeghiero can you update and close this (i think all is done).

[2020-10-14 13:23] mariorodeghiero commented on #38
FIXED. Create and edit flow implemented more details in #37

[2020-10-14 13:23] #38 closed

[2020-10-15 10:31] rufuspollock commented on #7
FIXED.

[2020-10-15 10:31] #7 closed

[2020-10-15 11:00] rufuspollock commented on #21
@mariorodeghiero could you update here on where we are with this?

[2020-10-15 17:02] mariorodeghiero commented on #21
we just have the UI working. Not implemented yet.

[2020-10-15 18:53] rufuspollock commented on #62
@mariorodeghiero can you update here on progress.

[2020-10-15 22:49] mariorodeghiero commented on #62
@rufuspollock the update for #64  until now is :
 - [X] Metadata
  - [x] Choose
  - [x] InputFile
  - [x] InputUrl
  - [x] ProgressBar
  - [x] Upload
~~- [ ] ResourceEditor~~
  - [ ] TableSchema (Karlen is working)

I already tested these changes for datapub-gdx repository without TableSchema and I uploaded a file locally and it works Properly. I already push the changes and you can check the[ imp

[2020-10-16 12:27] anuveyatsu commented on #63
@rufuspollock yes, I've made some fixes today and it should be good to trial :+1:

[2020-10-19 12:57] anuveyatsu commented on #63
We have last acceptance criteria leftover before we can close this issue @rufuspollock @mariorodeghiero

[2020-10-19 20:14] mariorodeghiero commented on #63
@anuveyatsu Now I can see the variable in the spect element and I check with Patricio, I need to run the giftless and authz-service separately.
cc: @rufuspollock

![Screenshot from 2020-10-19 17-12-42](https://user-images.githubusercontent.com/24671133/96506636-5ba0ea00-122e-11eb-993a-693f75b0e2ea.png)

[2020-10-19 20:20] mariorodeghiero commented on #33
@rufuspollock now we have the [datapub-gdx](https://github.com/datopian/datapub-gdx) working with multiple files. I think we can close this issue?

[2020-10-20 08:39] rufuspollock commented on #33
DUPLICATE of #62

[2020-10-20 08:39] #33 closed

[2020-10-20 12:33] kmanaseryan commented on #15
Figma Mock.
![image](https://user-images.githubusercontent.com/3371013/96586266-cf57fb00-12f1-11eb-9e73-b298080f329e.png)

[2020-10-20 12:42] anuveyatsu commented on #63
I'm closing this issue as FIXED as all tasks and acceptance criteria are met.

@mariorodeghiero as we've discussed the issue you're facing is the project specific.

[2020-10-20 12:42] #63 closed

[2020-10-20 15:41] rufuspollock commented on #15
@kmanaseryan looks good. any chance of editable access on this? Main point right now:

* I don't think we need to choose to have copy schema or new schema. We can just have "copy schema from existing resource" (we always create the schema and load it like normal by inference and the copy just overwrites that). does that make sense?

[2020-10-21 06:57] kmanaseryan commented on #15
@rufuspollock I see your point. The above two options are radio buttons so either copy or new. If it's new, then the dropdown will be disabled. Alternatively we can have a checkbox and remove New Schema option, so no radio buttons just one checkbox which will control the active state of the dropdown.

[2020-10-21 10:59] rufuspollock commented on #15
@kmanaseryan checkbox sounds better. though maybe even that is not needed - just a label and the dropdown.

[2020-10-21 15:11] risenW commented on #64
@kmanaseryan I think we can close this, right?

[2020-10-21 17:11] kmanaseryan commented on #64
Yes closing it, nice work👍

[2020-10-21 17:11] #64 closed

[2020-10-23 13:54] mariorodeghiero commented on #24
There is an issue with CSS style, after using the import components from datapub. I'm investigating what is happened.

[2020-10-25 10:15] kmanaseryan commented on #15
For follow up updates please follow https://github.com/datopian/datapub-nhs/issues/5 created in the related repository.

[2020-10-25 10:15] #15 closed

[2020-10-26 17:25] mariorodeghiero commented on #24
update:

After import a component from the library, when running `yarn build` generate two CSS files. Both of these CSS files should be added In ckanext-datapub be able to render external components imported.

[code]

@kmanaseryan if you get the same error above, check if you are using something like this.

[2020-11-05 11:29] rufuspollock commented on #24
@mariorodeghiero that seems a useful piece of information. Can you add that to the README of ckanext-datapub.

[2020-11-05 11:30] rufuspollock commented on #24
@mariorodeghiero once that is done i think we can close this issue as FIXED. When doing that could you post a short screencast showing it in action (it looks really good).

[2020-11-05 11:36] mariorodeghiero commented on #24
@rufuspollock ok I will update this on `ckanext-datapub` readme because needs to be implemented there.

[2020-11-05 11:58] mariorodeghiero commented on #24
FIXED. Add information in ckanext-datapub how to use all chunks.

[2020-11-05 11:58] #24 closed

[2020-11-10 09:49] shevron opened #72 "Error when trying to upload a binary file"
### Expected Behavior
I expect to be able to cleanly upload, with no errors in the console, files of *any* type whether they can be parsed by datapub or not.

### Actual Behavior
When trying to upload a binary file (extension is `.bin`, file is actually a random binary file but I suspect this will happen for many types of files that are not tabular data...), I get the following error in the js con

[2020-11-10 11:05] shevron opened #73 "Cache file hash"
It seems that there are cases in which we might calculate the hash of the same type for the same file more than once. I suggest caching the hash on the File object by type once it has been calculated, as this is a fairly expensive operation. Once a hash has been cached, and `File.hash(<type>)` is called again, it should just be returned (assuming we have hash of `<type>` cached).

[2020-11-10 11:06] shevron commented on #73
Obviously, If files are in any way mutable (can we write to files?), the hash cache should be invalidated once a file has changed.

[2020-11-10 11:07] shevron opened #74 "No debugging information in console if upload fails"
When trying to upload a file, if an error occurs somewhere in the process that is not originally expected, the error is suppressed and will not appear in logs. This makes debugging needlessly harder.

We should just add `console.error()` call to `src/components/Upload/index.jsx` `onClickHandler` `catch` call.

[2020-11-10 11:37] shevron commented on #73
Alright, maybe this needs to be in frictionlessdata/frictionless-js ?

[2020-11-10 15:25] #74 closed

[2020-11-10 15:41] shevron commented on #73
I created https://github.com/frictionlessdata/frictionless-js/issues/109 and closing this

[2020-11-10 15:41] #73 closed

[2020-11-11 12:01] #72 closed

[2020-11-20 14:27] mariorodeghiero opened #78 "Upload of large files is failing"
This issue is related https://github.com/datopian/datapub-nhs/issues/14

After some analysis and tests to upload large files, the root cause to upload large files happens because of the code below.
**Note:** After removed this part, I tested with 600Mb and 1.gb and it works very well.
[code]

**Why exist the [try-catch above](https://github.com/datopian/datapub/blob/master/src/components/Upload/in

[2020-11-20 17:10] rufuspollock commented on #78
@mariorodeghiero a likely guess is that rows call is reading the *whole*  file. Have we checked that only reads a small part of the file rather than the whole file.

[2020-11-20 19:17] mariorodeghiero commented on #78
I think yes, this was developed at the beginning of the project, and we did a lot of changes in the frinctionless.js library @risenW  is checking about it.
maybe @anuveyatsu knows something to add here too.

[2020-11-24 12:14] risenW commented on #78
@rufuspollock This is my guess as well, I'm jumping on this issue now

[2020-11-26 09:22] #78 closed

[2020-12-08 14:05] rufuspollock opened #80 "Publish to npm as datapub (and make datopian an owner)"
## Acceptance

* [x] Published on datapub __Done__ https://www.npmjs.com/package/datapub
* [x] datopian user is an owner __Done__ @risenW is registered as the owner
* [x] README updated where relevant to reference the published package rather than git link (e.g. in `yarn add` __Done__ See updated [Readme](https://github.com/datopian/datapub#getting-started)

[2020-12-08 14:05] rufuspollock commented on #62
FIXED. This is all done and actively used now in external apps e.g. datapub-nhs.

[2020-12-08 14:05] #62 closed

[2020-12-08 14:07] rufuspollock commented on #21
@mariorodeghiero i think this is FIXED. Can you update with latest info.

[2020-12-08 14:07] rufuspollock commented on #1
FIXED. Everything in this now done 🍾 🚀

[2020-12-08 14:07] #1 closed

[2020-12-08 14:10] mariorodeghiero commented on #21
@rufuspollock No, this is fixed for **gdx**, but I think we can bring **almost** the same code and insert it here. I can help @cotts or @risenW to do it.

[2020-12-08 16:16] risenW commented on #80
@rufuspollock This is done

[2020-12-08 17:07] rufuspollock commented on #80
@risenW great - let's close the issue 😄

[2020-12-08 19:49] #80 closed